---
import Dashboard from "@layouts/AsideDashboard.astro";

const items = [
    {
        id: 1,
        name: "Camisa",
        size: "M",
        color: "Azul",
        price: 5.5,
        status: "Disponível",
    },
];
---

<Dashboard
    title="Inventory"
    description="O teu relevante lugar de aluguer de roupa"
    keywords="aluguer, roupa, "
    canonical="https://outfit-oasis.com"
>
    <div class="grid grid-cols-3 gap-4">
        {
            items.map((item) => (
                <div class="p-4 bg-gray-100 rounded shadow">
                    <h2>{item.name}</h2>
                    <p>Tamanho: {item.size}</p>
                    <p>Cor: {item.color}</p>
                    <p>Preço: {item.price} €/dia</p>
                    <p>Status: {item.status}</p>
                </div>
            ))
        }
    </div>
</Dashboard>
